<div
  class="modal inmodal fade"
  id="myModalCapacitaciones"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Producto</h4>
      </div>
      <div class="modal-body">
        <div class="ibox-content">
          <form role="form" id="CapacitacionesInsert">
            <div class="row">
              <div class="col-6">
                <div class="form-group" style="display: none">
                  <label for="Inputid">id</label>
                  <input
                    type="text"
                    name="id_sem"
                    class="form-control"
                    id="id_sem"
                    placeholder="id"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="Inputtema">Producto</label>
                  <input
                    title="Participación en capacitaciones y espacios de socialización de la Vicerrectoría Asistente de Investigación y Extensión"
                    type="text"
                    name="producto"
                    class="form-control"
                    id="producto"
                    placeholder="Nombre del Producto"
                  />
                </div>
                <div class="form-group">
                  <label for="Inputdocente">Descripcion</label>
                  <input
                    title="Se debe escribir el nombre de la(s) capacitación(es) o espacio(s) de socialización de la Vicerrectoría Asistente de Investigación y Extensión."
                    type="text"
                    name="descripcion"
                    class="form-control"
                    id="descripcion"
                    placeholder="Descripcion"
                  />
                </div>
                <div class="form-group">
                  <label for="Inputcant_capacitados">Responsable</label>
                  <input
                    type="text"
                    name="responsable"
                    class="form-control"
                    id="responsable"
                    placeholder="Responsable"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="Inputfecha">Fecha</label>
                  <input
                    type="date"
                    name="fecha"
                    class="form-control"
                    id="fecha"
                  />
                </div>
                <div class="form-group">
                  <label for="Inputcant_capacitados">Calificacion</label>
                  <input
                    type="number"
                    name="calificacion"
                    class="form-control"
                    id="calificacion"
                    placeholder="Calificacion"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-white"
          onclick="cerrarModalCapacitaciones()"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="btnOrderAct"
          onclick="actualizarEvento()"
        >
          Actualizar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="btnOrderReg"
          onclick="registrarProducto()"
        >
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal Asistencia-->
<div class="modal" tabindex="-1" role="dialog" id="modalAsistencia">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Asistencia</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" id="contenidoModalAsistencia">
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="guardarAsistencia()">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--./Modal Asistencia-->
<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaOrdenes">
  <div class="row" id="step_1_tour">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title row">
          <h5 class="text-white col">Capacitaciones</h5>
          <h5 class="label label-successE">
            <a
              onclick="mostrarModalCapacitaciones()"
              style="background-color: #243747; display: inline !important"
              class="btn btn-primary"
              >+ Agregar</a
            >
          </h5>
        </div>
        <div class="ibox-content">
          <div class="table mt-4 mb-4">
            <br />
            <table
              class="table table-striped mt-4 mb-4 table-hover"
              id="listadoCapacitacionesTabla"
              style="width: 100%"
            >
              <thead>
                <tr class="ufps-tabl">
                  <th>PRODUCTO</th>
                  <th>DESCRIPCIÓN</th>
                  <th>RESPONSABLE</th>
                  <th>FECHA</th>
                  <th>CALIFICACIÓN</th>
                  <th>ACCIONES</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Tabla de Usuarios -->

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"
></script>
<script type="text/javascript" src="../js/informeGestion/informe.js"></script>
