<a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Empezar Tour</a>

<div class="modal inmodal fade" id="myModalEstudiantesE" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title">Registro Estudiante</h4>
            </div>
            <div class="modal-body">
                <div class="ibox-content">
                    <form role="form" id="EstudianteInsert">
                        <input type="hidden" name="estu_id" class="form-control" id="estu_id" placeholder="id" />
                        <input type="hidden" name="persona_id" class="form-control" id="persona_id" placeholder="id" />
                       

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="Inputnombre">nombre</label>
                                    <input type="text" name="estu_nombre" class="form-control" id="estu_nombre" placeholder="nombre" />
                                </div>
                                <div class="form-group">
                                    <label for="Inputtelefono">telefono</label>
                                    <input type="text" name="estu_telefono" class="form-control" id="estu_telefono" placeholder="telefono" />
                                </div>
                                <div class="form-group">
                                    <label for="Inputcorreo">correo</label>
                                    <input type="email" name="estu_correo" class="form-control" id="estu_correo" placeholder="correo" />
                                </div>
                                <div class="form-group">
                                    <label for="Inputcodigo">codigo</label>
                                    <input type="text" name="estu_codigo" class="form-control" id="estu_codigo" placeholder="codigo" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="Inputsemestre">semestre</label>
                                    <input type="number" min="1" max="10" name="estu_semestre" class="form-control" id="estu_semestre" placeholder="semestre" />
                                </div>
                                <div class="form-group">
                                    <label for="Inputprograma_academico">Programa Academico</label>
                                    <select class="form-control" name="estu_programa_academico" id="estu_programa_academico">
                                        <option value="">SELECCIONE UN PROGRAMA ACA...</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Inputtipo_docuemnto_id">Tipo Docuemnto</label>
                                    <select class="form-control" name="estu_tipo_docuemnto_id" id="estu_tipo_docuemnto_id">
                                        <option value="">SELECCIONE...</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Inputnum_documento">Numero Documento</label>
                                    <input type="text" name="estu_num_documento" class="form-control" id="estu_num_documento" placeholder="Numero Documento" />
                                </div>
                            </div>
                        </div>



                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="btnEstuAct" onclick="UpdateEstuE()">
                    Actualizar
                </button>
                <button type="button" class="btn btn-primary" id="btnEstuReg" onclick="registrarEstuE()">
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaOrdenes">

    <div class="row" id="step_1_tour">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Listado de Estudiantes</h5>
                    <h5 class="label label-successE"> <a onclick="mostrarModalEstudiantesE()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
           
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table style='width: 100%' class='table table-striped mt-4 mb-4 centradito table-hover' id='listadoTablaEstudiantes2'>
                            <thead>
                                <tr class="ufps-tabl">
                                    <th>NOMBRE</th>
                                    <th>CÓDIGO</th>
                                    <th>CORREO</th>
                                    <th>PROG ACADEMICO</th>
                                    <th>TELEFONO</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Tabla de Usuarios -->
<script type="text/javascript" src="../js/estudiantes/estudiantes_tabla.js"></script>
