<a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Empezar Tour</a>


<div class="modal inmodal fade" id="myModalRegistro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding: 1px 1px; background:#aa1916 ; ">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" style="color: #ffffff">Pre-Registro Semillero</h3>

            </div>
            <div class="modal-body">
                <!--  padding: 5px 5px;-->
                <div class="ibox-content">
                    <h3 class="modal-title" style=" text-align: center; color: black"><b>informacion Semillero</b></h3>
                    <div class="row">
                        <input type="text" style="display: none" class="form-control" name="id" id="id" readonly>
                        <div class="col-6">

                            <div class="form-group">

                                <label for="formGroupExampleInput">Nombre: </label>
                                <input type="text" style="background: white;" class="form-control" name="nombre" id="nombre" readonly>

                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">Grupo de Investigacion </label>
                                <input type="text" style="background: white;" class="form-control" name="grupo_investigacion" id="grupo_investigacion" readonly>
                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">Departamentos </label>
                                <input type="text" style="background: white;" class="form-control" name="departamentos" id="departamentos" readonly>
                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">Linea de Investigacion </label>

                                <input type="text" style="background: white;" class="form-control" name="linea_i" id="linea_i" readonly>
                            </div>



                        </div>
                        <!-------------------------------------------------->
                        <div class="col-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Sigla </label>
                                <input type="text" style="background: white;" class="form-control" name="sigla" id="sigla" readonly="">

                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Facultad</label>

                                <input type="text" style="background: white;" class="form-control" name="facultades" id="facultades" readonly>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Plan de Estudios</label>

                                <input type="text" style="background: white;" class="form-control" name="p_estudio" id="p_estudio" readonly>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Fecha de Creacion </label>
                                <input type="date" style="background: white;" class="form-control" name="fecha" id="fecha" readonly="">

                            </div>


                        </div>
                    </div>
                    <hr>
                    <h3 class="modal-title" style=" text-align: center; color: black"><b>Informacion Tutor</b></h3>
                    <hr>
                    <div class="row">

                        <div class="col-6">
  <input type="text" style="display: none" class="form-control" name="idPersona" id="idPersona" >

                            <div class="form-group">

                                <label for="formGroupExampleInput">Nombre </label>
                                <input type="text" style="background: white;" class="form-control" name="nombreD" id="nombreD" required>

                            </div>
                            <div class="form-group">

                                <label for="formGroupExampleInput">Telefono </label>
                                <input type="text" style="background: white;" class="form-control" name="telefonoD" id="telefonoD" required>

                            </div>
                        </div>
                        <div class="col-6">

                            <div class="form-group">

                                <label for="formGroupExampleInput">Correo </label>
                                <input type="text" style="background: white;" class="form-control" name="correoD" id="correoD" required>

                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Tipo Vinculacion</label>
                                <input type="text" style="background: white;" class="form-control" name="tp_vinculacion" id="tp_vinculacion" required>

                            </div>
                        </div>
                    </div>
                        <div class="alert alert-warning">
                                    <h4 style="color: black;"><i class="fa fa-warning"></i> Nota</h4>
                                    <ul class="text-justify">
                                        <li>
                                            En caso de Rechazar realizar una Observacion.
                                        </li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Resumen: </label>
                                    <textarea class="form-control" name="resumen" id="resumen" cols="5" rows="5"></textarea>
                                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning" id="AvalSemilleroDir" name="AvalSemilleroDir" onclick="ActivarSemillero_Correo('2')">Rechazar</button>
                        <button type="button" class="btn btn-primary" id="AvalSemilleroDir1" name="AvalSemilleroDir1" onclick="ActivarSemillero_Correo('1')">Aprobar</button>
                        <!-- <button type="button" class="btn btn-warning" id="AvalSemilleroGrup" name="AvalSemilleroGrup" onclick="AvalSemilleroGrup('5')">Rechazar</button>
                      <button type="button" class="btn btn-primary" id="AvalSemilleroGrup1" name="AvalSemilleroGrup1" onclick="AvalSemilleroGrup('2')">Aprobar</button>
                      <button type="button" class="btn btn-warning" id="AvalSemilleroPlan" name="AvalSemilleroPlan" onclick="AvalSemilleroPlan('6')">Rechazar</button>
                      <button type="button" class="btn btn-primary" id="AvalSemilleroPlan1" name="AvalSemilleroPlan1" onclick="AvalSemilleroPlan('3')">Aprobar</button> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaOrdenes">

    <div class="row" id="step_1_tour">
        <div class="col-lg-12">

            <div class="ibox ">

                <div class="ibox-title row">
                    <h5 class="text-white col">Listado Semilleros</h5>
                    <h5 class="label label-successE"> <a onclick="mostrarModalActividades()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                    <h5 class="label label-successE"> <a data-toggle="modal" data-target="#ModalLoadData" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ LoadXls</a></h5>
                </div>



                <div class="ibox-content">

                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoSemilleroTabla' style='width: 100%'>
                            <thead>
                                <tr class="ufps-tabl">
                                    <th>Nombre</th>
                                    <th>Nombre</th>
                                    <th>Sigla</th>
                                    <th>Fecha Creacion</th>
                                    <th>Fecha Creacion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Tabla de Usuarios -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>

<script type="text/javascript" src="../js/semillero/semillero_adm.js"></script>
<script type="text/javascript" src="../js/tours/adm_semillero/pendiente.js"></script>