<a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Empezar Tour</a>
<div class="modal inmodal fade" id="myModalCapacitaciones" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">* Capacitacion</h4>
<!--                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>-->
            </div>
            <div class="modal-body">
                <div class="ibox-content">
                    <form role="form" id="CapacitacionesInsert">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group" style="display: none">
                                    <label for="Inputid">id</label>
                                    <input type="text" name="id_sem" class="form-control" id="id_sem" placeholder="id" required>
                                </div>
                                <div class="form-group">
                                    <label for="Inputtema">Tema</label>
                                    <input type="text" name="tema_sem" class="form-control" id="tema_sem" placeholder="Tema de la capacitacion">
                                </div>
                                <div class="form-group">
                                    <label for="Inputdocente">Docente</label>
                                    <input type="text" name="docente_sem" class="form-control" id="docente_sem" placeholder="docente">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="Inputfecha">Fecha</label>
                                    <input type="date" name="fecha_sem" class="form-control" id="fecha_sem" placeholder="f  echa">
                                </div>
                                <div class="form-group">
                                    <label for="Inputcant_capacitados">Cantidad de Capacitados</label>
                                    <input type="number" name="cant_capacitados_sem" class="form-control" id="cant_capacitados_sem" placeholder="cantidad de capacitados">
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-white" onclick="cerrarModalCapacitaciones()">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnOrderAct" onclick="ActualizarData()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnOrderReg" onclick="registrarCapacitacion()">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaOrdenes">

    <div class="row" id="step_1_tour">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Listado Capacitaciones</h5>
                    <h5 class="label label-successE"> <a onclick="mostrarModalCapacitaciones()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>

                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoCapacitacionesTabla' style='width: 100%'>
                            <thead>
                                <tr class="ufps-tabl">

                                    <th width="50%">TITULO CAPACITACION</th>
                                    <th width="50%">DOCENTE</th>
                                    <th width="10%">FECHA CAPACITACION</th>
                                    <th>N° DE ESTUDIANTES CAPACITADOS</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Tabla de Usuarios -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
<script type="text/javascript" src="../js/capacitaciones/capacitaciones.js"></script>
<script type="text/javascript" src="../js/tours/semillero/capacitaciones.js"></script>