<div
  class="modal inmodal fade"
  id="modalGestionColaboradores"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Registro Colaboradores</h4>
      </div>
      <div class="modal-body">
        <div class="ibox-content">
          <form role="form" id="EstudianteInsert">
            <div class="row">
              <div class="col-6">
                <div class="form-group" style="display: none">
                  <label for="Inputid">Id</label>
                  <input
                    type="text"
                    name="id"
                    class="form-control"
                    id="Inputid"
                    placeholder="Id"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="Inputcodigo">Codigo</label>
                  <input
                    type="text"
                    name="codigo"
                    class="form-control"
                    id="codigo"
                    placeholder="Codigo"
                  />
                </div>
                <div class="form-group">
                  <label for="Inputsemestre">Nombre</label>
                  <input
                    type="text"
                    name="nombre"
                    class="form-control"
                    id="nombre"
                    placeholder="nombre"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="Inputpersona_id">Correo</label>
                  <input
                    type="text"
                    name="correo"
                    class="form-control"
                    id="correo"
                    placeholder="Correo"
                  />
                </div>
                <div class="form-group">
                  <label for="Inputnum_documento">Telefono</label>
                  <input
                    type="text"
                    name="telefono"
                    class="form-control"
                    id="telefono"
                    placeholder="Numero de Telefno"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-white"
          data-dismiss="modal"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="btnOrderAct"
          onclick="actualizarColaborador()"
        >
          Actualizar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="btnOrderReg"
          onclick="registrarColaborador()"
        >
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaOrdenes">
  <div class="row" id="step_1_tour">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title row">
          <h5 class="text-white col">Listado de Pares</h5>
          <h5 class="label label-successE">
            <a
              onclick="mostrarModalGestionColaboradores()"
              style="background-color: #243747; display: inline !important"
              class="btn btn-primary"
              >+ Agregar</a
            >
          </h5>
        </div>
        <div class="ibox-content">
          <div class="table mt-4 mb-4">
            <br />
            <table
              class="table table-striped mt-4 mb-4 centradito table-hover"
              id="tabla_colaboradores"
              style="width: 100%"
            >
              <thead>
                <tr class="ufps-tabl">
                  <th>#</th>
                  <th>CODIGO</th>
                  <th>NOMBRE</th>
                  <th>CORREO</th>
                  <th>TELEFONO</th>
                  <th>ACCIONES</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Tabla de Usuarios -->
<script type="text/javascript" src="../js/colaborador/colaborador.js"></script>

