<div id="modalRegistro">
    
    <div id="Titulo" class="ibox-content" style="background: #af2623">
    
     <center><H2><b><u style="background: #ae2623">PROYECTOS TERMINADOS</u></b></H2>
        </center>
</div>
    <a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Empezar Tour</a>
    <div class="ibox-content my-2" id="step_1_tour" >
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <b>DATOS GENERALES</b>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-12">

                                <input type="text" id="id_proyecto" style="display: none">
                                <div class="form-group">

                                    <label for="formGroupExampleInput">Titulo: </label>
                                    <input type="text" style="background: white;" class="form-control" name="titulo" id="titulo" required>

                                </div>

                                <div class="form-group">

                                    <label for="formGroupExampleInput">Investigador principal: </label>
                                    <input type="text" style="background: white;" class="form-control" name="inv_principal" id="inv_principal" required>

                                </div>

                                <div class="modal-footer">
                                    <h5 class="label label-successE">
                                        <a onclick="RegistrarData()" id="btnRegNomP" style="background-color: #243747;display: inline !important;" class="btn btn-primary">Registrar</a>
                                    </h5>
                                    <h5 class="label label-successE">
                                        <a onclick="UpdateDataPt()" id="btnActNomP"  style="background-color: #243747;display: inline !important;" class="btn btn-primary">Actualizar</a>
                                    </h5>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <b>COINVESTIGADORES</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="ibox ">



                                <div class='table'>
                                    <div class="modal-footer">

                                        <h5 class="label label-successE" id="btn_coinvestigadores"> <a onclick="mostrarModalCooinvestigadores()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                                    </div>

                                    <div class='table mt-4 mb-4'><br>

                                        <table style='width: 100%' class='table table-striped mt-4 mb-4 centradito table-hover' id='listadoTablaCooinvestigadores'>
                                            <thead>
                                                <tr class="ufps-tabl">
                                                    <th>COD_COLABORADOR</th>
                                                    <th>CÓDIGO</th>
                                                    <th>NOMBRE</th>
                                                    <th>TIPO_COLABORADOR</th>
                                                    <th>COD_PROYECTO</th>
                                                    <th>ACCIONES</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <b>ESTUDIANTES</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="ibox ">



                                <div class='table'>
                                    <div class="modal-footer">

                                        <h5 class="label label-successE" id="btn_usuarios"> <a onclick="mostrarModalUsuarios('estudiantes','Código','Nombre')" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                                    </div>
                                    <table style='width: 100%' class='table table-striped mt-4 mb-4 centradito table-hover' id='listadoTablaEstudiantes'>
                                        <thead>
                                            <tr class="ufps-tabl">
                                                <th>COD_USER</th>
                                                <th>CÓDIGO</th>
                                                <th>NOMBRE</th>
                                                <th>COD_PROYECTO</th>
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <b>OTROS DATOS</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-6">

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Linea de Investigacion </label>
                                    <select class="form-control" name="linea_investigacion_pro" id="linea_investigacion_pro">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Tiempo de ejecución (en meses): </label>
                                    <input type="text" style="background: white;" class="form-control" name="t_ejecucion" id="t_ejecucion" placeholder="4 meses" required>
                                </div>
                                </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Fecha de Inicio (indicar mes y año): </label>
                                    <input type="text" style="background: white;" class="form-control" name="fecha_ini" id="fecha_ini" placeholder="03 - 2021"  required>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Fecha de Finalización(indicar mes y año):
                                    </label>
                                    <input type="text" style="background: white;" class="form-control" name="fecha_fin" id="fecha_fin" placeholder="03 - 2021"  required>
                                </div>

                            </div>

                        </div>
                              <div class="alert alert-warning">
                                    <h4 style="color: black;"><i class="fa fa-warning"></i> Nota</h4>
                                    <ul class="text-justify">
                                        <li>
                                            Hacer una breve descripción del proyecto, donde se describa el problema planteado, importancia del proyecto, metodología empleada y los resultados obtenidos- No debe exceder de 250 palabras
                                        </li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Resumen: </label>
                                    <textarea class="form-control" name="resumen" id="resumen" cols="5" rows="5"></textarea>
                                </div>

                                <div class="modal-footer" id="btn_otros">
                                    <h5 class="label label-successE">
                                        <a onclick="RegistrarDataOtros()" style="background-color: #243747;display: inline !important;" class="btn btn-primary">Registrar</a>
                                    </h5>
                                </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <b>OBJETIVOS</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-12">

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Objetivo General: </label>
                                    <input type="text" style="background: white;" class="form-control" name="obj_general" id="obj_general" required>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Objetivos Especificos: </label>
                                    <textarea class="form-control" name="obj_especifico" id="obj_especifico" cols="5" rows="5"></textarea>
                                </div>

                                <div class="alert alert-warning">
                                    <h4 style="color: black;"><i class="fa fa-warning"></i> Nota</h4>
                                    <ul class="text-justify">
                                        <li>
                                            Indicar los resultados directos verificables que se alcanzaron con el desarrollo del proyecto mediante una breve descripción. Los resultados pueden ser: 1. Generación de nuevo conocimiento o desarrollo tecnológico – 2. Fortalecimiento de la capacidad
                                            científica tecnológica – 3. Apropiación social de conocimiento- 4. Otros) – (No debe exceder de 500 palabras).
                                        </li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Resultados Obtenidos: </label>
                                    <textarea class="form-control" name="resultados" id="resultados" cols="5" rows="5"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupExampleInput">Costo Total del Proyecto: </label>
                                    <input type="text" style="background: white;" class="form-control" name="costo" id="costo" required>
                                </div>

                                <div class="modal-footer" id="btn_objetivos">
                                    <h5 class="label label-successE">
                                        <a onclick="RegistrarDataObj()" style="background-color: #243747;display: inline !important;" class="btn btn-primary">Registrar</a>
                                    </h5>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingsix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <b>FUENTES DE FINANCIACION</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="ibox ">

                                <div class='table'>
                                    <div class="modal-footer">

                                        <h5 class="label label-successE" id="btn_fuentes"> <a onclick="mostrarModalFuentes('fuentes','Fuente','Valor')" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                                    </div>
                                    <table style='width: 100%' class='table table-striped mt-4 mb-4 centradito table-hover' id='listadoTablaFuentes'>
                                        <thead>
                                            <tr class="ufps-tabl">
                                                <th>COD_FUENTE</th>
                                                <th>FUENTE</th>
                                                <th>VALOR</th>
                                                <th>COD_PROYECTO</th>
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
 <div class="modal-footer">
          
                <button type="button" class="btn btn-primary" id="btnFiReg" onclick="terminarRegistroProyTerminado()">Enviar Informacion</button>
         

            </div>
</div>

<div id="ModalTablasT">
    <div class="ibox-content">
        <h2 style="color: black">Proyectos</h2>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="iniciarRegistro()">
                Registrar
            </button>
        </div>
        <div class="table mt-12 mb-12 table-responsive" id="tablaProyectos">
            <br />
            <table class="table table-striped mt-4 mb-4 centradito" id="listadoProyectosTabla" style="width: 100%">
                <thead>
                    <tr class="ufps-tabl">
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Insvestigador Principal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal" id="ModalUsuarios" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Modal Estudiantes</h4>         
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label for="Inputid" id="primer_inp">Codigo</label>
                    <input class="form-control" type="text" name="primer_input" id="primer_input">
                </div>

                <div class="form-group">
                    <label for="Inputid" id="segundo_inp">Nombre</label>
                    <input class="form-control" type="text" name="segundo_input" id="segundo_input">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnLnActC" onclick="actualizarCooinvestigadores()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnLnRegC" onclick="registrarCooinvestigadores()">Registrar</button>
                <!-- Usuarios -->
                <button type="button" class="btn btn-primary" id="btnLnActU" onclick="actualizarUsuarios()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnLnRegU" onclick="registrarUsuarios()">Registrar</button>
                <!-- Fuentes   -->
                <button type="button" class="btn btn-primary" id="btnLnActF" onclick="actualizarFuentes()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnLnRegF" onclick="registrarFuentes()">Registrar</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>

            </div>

        </div>
    </div>
</div>
<div class="modal inmodal" id="Modalcooinvestigadores" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title">Modal Coinvestigadores</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Inputid" id="primer_inputCol">Codigo</label>
                    <select class="form-control" name="colaboradores_disponibles" id="colaboradores_disponibles"></select>
                </div>


            </div>
            <div class="modal-footer">
               <!--  <button type="button" class="btn btn-primary" id="btnCooinvestAct" onclick="actualizarCooinvestigadores()">Actualizar</button> -->
                <button type="button" class="btn btn-primary" id="btnCooinvesteg" onclick="agregarCooinvestigador()">Agregar</button>
                
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>

            </div>

        </div>
    </div>
</div>
<!-- <div class="modal inmodal" id="Modalcooinvestigadores" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title">Modal Coinvestigadores</h4>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label for="Inputid" id="primer_inputCol">Codigo</label>
                    <input class="form-control" type="text" name="primer_inputCo" id="primer_inputCo">
                </div>

                <div class="form-group">
                    <label for="Inputid" id="segundo_inputCol">Nombre</label>
                    <input class="form-control" type="text" name="segundo_inputCo" id="segundo_inputCo">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCooinvestAct" onclick="actualizarCooinvestigadores()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnCooinvesteg" onclick="registrarCooinvestigadores()">Registrar</button>
                
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>

            </div>

        </div>
    </div>
</div> -->

<div class="modal inmodal" id="ModalFuentesInv" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title">Modal Fuentes de investigacion</h4>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label for="Inputid" id="primer_inputFil">Fuente</label>
                    <input class="form-control" type="text" name="primer_inputFi" id="primer_inputFi">
                </div>

                <div class="form-group">
                    <label for="Inputid" id="segundo_inputFil">Valor</label>
                    <input class="form-control" type="text" name="segundo_inputFi" id="segundo_inputFi">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnFiAct" onclick="actualizarFuentes()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnFiReg" onclick="registrarFuentes()">Registrar</button>
                
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="../js/semillero/proyectosTerminados.js"></script>
<script type="text/javascript" src="../js/tours/fo_in_03/proyectos_terminados.js"></script>