<div class="col-md-6 mx-auto">
  <div class="card-header">
    <h1>Registro Usuario</h1>
  </div>
  <div class="card-body" style="background-color: white">
    <form role="form">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="formGroupExampleInput">Nombre </label>
            <input
              type="text"
              style="background: white"
              class="form-control"
              name="nombre"
              id="nombre"
              required
            />
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Telefono </label>
            <input
              type="text"
              style="background: white"
              class="form-control"
              name="telefono"
              id="telefono"
              required
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="formGroupExampleInput">Correo </label>
            <input
              type="text"
              style="background: white"
              class="form-control"
              name="correo"
              id="correo"
              required
            />
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Perfil</label>
            <select class="form-control" name="perfil" id="perfil">
              <option value="-1">SELECCIONE</option>
              <option value="1">SIN ASIGNAR</option>
              <option value="2">ADMINISTRADOR</option>
              <option value="3">SUPER ADMIN</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        onclick="registrarUsuario()"
      >
        Registrar
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Cerrar
      </button>
    </div>
  </div>
</div>
<script src="../js/usuario/registrar.js"></script>
